
.dendrogram {

  .node {
    font: 10px sans-serif;

    circle {
      fill: $brand-primary;
      stroke: $text-color;
      stroke-width: 1.5px;
    }

  .link {
    fill: none;
    stroke: $text-color;
    stroke-width: 1.5px;
  }

}
